nav{
    list-style: none;
    background-image:
    linear-gradient(
      to right, 
      #5433FF, #20BDFF
    );
    width: 300px;
    
}
.navbar{
    position: fixed;
}
.nav-link{
    color:#FFFF
}

header{
    font-size: 30px;
    padding-bottom: 10px;

}
body{
    background: rgb(33,33,33);
    color: aliceblue;

}

section{
    padding: 20px;
}

code{
    color: #02a902;
    border-radius: 3px;
    font-family: courier, monospace;
    font-size: 17px;
    
}
.code_block{
    background: rgb(11,11,11);
    padding: 10px;
}

.note{
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    color:rgb(33,33,33);
   
}
.note_spacing{
    padding: 10px;
}

#main_doc{
    position: absolute;
    padding: 20px;
    margin-bottom: 110px;
}

@media only screen and (max-width: 1000px) {
    .navbar{
        position: relative;
    }
  }



